<html>
    <head>
        <title>Rromio's blog</title>
    </head>
    <body>
        <div>
            <h1><a href = '/'>Django Girls blog</a></h1>
        </div>

        <div>
            <p>Published: 16.08.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>sldflsdhflhl sldkflskdjhf sldfhlskhdfl</p>
        </div>

        <div>
            <p>Published: 16.08.2018, 13:15</p>
            <h2><a href="">My second post</a></h2>
            <p>sldfjslkdjf sldkfjskldj sldkfjslkdj</p>
        </div>
    </body>
</html>